@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<h1 class="display-4">Application - Version 1 : Upddated by Suraj</h1>
<h1> I'm updating the file from local machine </h1>
<h1> Updating file from github</h1>
<h1> Updating file from Github</h1>
<h1> Minor changes from remote</h1>
<h1> This is after adding azure boards to repository</h1>
<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
